USE [MaidanVault]
GO
/****** Object:  Table [dbo].[Venues]    Script Date: 1/19/2025 5:00:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VenueAddress] [nvarchar](255) NOT NULL,
	[OpenHoursFrom] [nvarchar](10) NOT NULL,
	[OpenHoursTo] [nvarchar](10) NOT NULL,
	[Sport] [nvarchar](50) NOT NULL,
	[VenueType] [nvarchar](50) NOT NULL,
	[ParkingAvailable] [bit] NOT NULL,
	[PricePerHour] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Amenities] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Venues] ADD  DEFAULT ((0)) FOR [ParkingAvailable]
GO
